# Airflow logs
logs/
airflow.cfg
airflow.db
webserver_config.py

# Python virtual environments
.venv/
venv/
ENV/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
.env.local

# IDE settings
.vscode/
.idea/

# Docker
.docker/
*.env

# System Files
.DS_Store
Thumbs.db 